@using TodoApp.DataAccess
@model TodoViewModel

<div class="panel-footer add-item-form">
    @await  Html.PartialAsync("AddItem", new Todo())
</div>

<div>
    @{
        var i = 1;
        if (Model.Todos.Any())
        {
            <ul class="list-group">
                @{
                    foreach (var todo in Model.Todos)
                    {
                        <li class="list-group-item">
                            <span>@(i++).</span> <span class="font-weight-bold">@todo.Name</span>
                            <div>@todo.Content</div>
                        </li>
                    }
                }
            </ul>
        }
    }  
</div>